---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Skladem from '../components/Skladem.astro';
---

<Layout title="Esterčini plyšáci">
  <main>
    <h1>Estini <span class="text-gradient">plyšáci</span></h1>
    <img src="/pozadí.jpg" />
    <h2>Novinky</h2>
    <ul role="list" class="link-card-grid">
      <Card title="Antistresová houbička" color="1"/>
      <Card title="Dinosauřík" color="1"/>
      <Card title="Mini tučňák" color="1"/>
    </ul>
    <Skladem />
  </main>
</Layout>
