---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Esterčini plyšáci">
  <main>
    <h1>Estini <span class="text-gradient">plyšáci</span></h1>
    <img src="/pozadí.jpg" />
    <h2>Novinky</h2>
    <ul role="list" class="link-card-grid">
      <Card title="Antistresová houbička" />
      <Card title="Dinosauřík" />
      <Card title="Mini tučňák" />
    </ul>
    <h2>Skladem</h2>
    <ul role="list" class="link-card-grid">
      <Card title="Králíček" />
      <Card title="Mini tučňák" />
      <Card title="Kuře" />
      <Card title="Tučňák" />
      <Card title="Kravička" />
      <Card title="Pejsek" />
    </ul>
  </main>
</Layout>

<style>
  @media (width < 564) {
    h1 {
      width: min-content !important;
      line-height: 2;
    }
  }
</style>
