<!-- ---
import ProduktyHledat from './ProduktyHledat.astro';
---

<header>
  <form action="GET">
    <input type="search" placeholder=" Hledat" />
    <ProduktyHledat />
  </form>
  <style>
    header {
      background: #515151;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: end;
    }
    input {
      margin: 8px 30px;
      border-radius: 5px;
      padding: 7px;
    }
  </style>
</header> -->
